# Dependencies
/node_modules/
/.pnp/
.pnp.js
.pnp.cjs
.pnp.loader.mjs

# Production build
/build/

# Testing
/coverage/

# Environment variables
.env
.env.example
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Logs
*.log

# Misc
*.local
npm-shrinkwrap.json

# React Native
.expo/
.expo-shared/

# Optional npm cache directory
.npm/
